<footer id="footer">
    <p style="color: white; ">Subscribe to our newsletter</p><br>
    <a href="https://newsletter-1-yip2.onrender.com/"><i class="fa-solid fa-bell social-icon fa-2x"></i></a>
    <i class="fa-brands fa-facebook social-icon fa-2x"></i>
    <i class="fa-brands fa-instagram social-icon fa-2x"></i>
    <i class="fa-brands fa-twitter social-icon fa-2x"></i>
    <a href="mailto:adarshn6467@gmail.com"><i class="fa-solid fa-envelope social-icon fa-2x"></i></a>
    <a href="https://to-do-list-qjtq.onrender.com/"><i class="fa-solid fa fa-list social-icon fa-2x"></i></a>
  
    <p style="color:white; text-align: center;">© Copyright Read & Write</p>
  
  </footer>
        
        </body>
        </html>