<%- include('partials/secHeader') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key key fa-6x"></i>
    <h1 class="display-3">You've Discovered My Secret!</h1>

    <% userWithSecrets.forEach(function(user){ %>
      <div class="post" >
      <p class="post-body">
        <%=user.secret%>
      </p>
      </div>
    <% })  %>

    <hr>
    
    <a class="btn btn-light btn-lg" href="/logout"  style="margin: 10px;" role="button"><i class="fa-solid fa-right-from-bracket"></i> Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button"><i class="fa-solid fa-plus"></i> Submit Your's</a>
  </div>
</div>

<%- include('partials/secFooter') %>
